<!DOCTYPE html>
<html lang="en">
<head>
<title>Bobo | Blog</title>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="styles/style.css">
<!--[if IE 6]><link type="text/css" rel="stylesheet" href="styles/ie6.css"><![endif]-->
<!--[if IE 7]><link type="text/css" rel="stylesheet" href="styles/ie7.css"><![endif]-->
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1><a href="index.html">Bobo Studio</a></h1>
    <h2>Quality Design Solutions</h2>
    <div id="nav">
      <ul id="nav-pages">
        <li><a href="index.html">Home</a><span>/</span></li>
        <li><a href="services.html">Services</a><span>/</span></li>
        <li><a href="portfolio.html">Portfolio</a><span>/</span></li>
        <li><a href="blog.html" class="current">Blog</a><span>/</span></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <div class="post">
        <h2><a href="#">Pricing Your Web Design Work</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a nibh mauris. Mauris interdum, dolor in vulputate tincidunt, mauris lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="read-post-link">Read Full Post &raquo;</a></p>
      </div>
      <div class="post-line"></div>
      <div class="post">
        <h2><a href="#">Seven Essential Web Development Tools</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a nibh mauris. Mauris interdum, dolor in vulputate tincidunt, mauris lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="read-post-link">Read Full Post &raquo;</a></p>
      </div>
      <div class="post-line"></div>
      <div class="post">
        <h2><a href="#">Web Design And Development Books</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a nibh mauris. Mauris interdum, dolor in vulputate tincidunt, mauris lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="read-post-link">Read Full Post &raquo;</a></p>
      </div>
      <div class="post-line"></div>
      <div class="post">
        <h2><a href="#">Clean and Minimal WordPress Themes</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a nibh mauris. Mauris interdum, dolor in vulputate tincidunt, mauris lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="read-post-link">Read Full Post &raquo;</a></p>
      </div>
      <div class="post-line"></div>
      <div class="post">
        <h2><a href="#">Tips For Busy Freelance Web Designers</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a nibh mauris. Mauris interdum, dolor in vulputate tincidunt, mauris lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="read-post-link">Read Full Post &raquo;</a></p>
      </div>
      <div class="post-line"></div>
      <a href="#" class="previous-posts">&laquo; Older Posts</a> </div>
    <div id="sidebar">
      <div class="sponsors">
        <h3>Sponsors</h3>
        <a href="#"><img src="images/ad.png" alt=""></a> <a href="#"><img src="images/ad.png" alt=""></a> <a href="#"><img src="images/ad.png" alt=""></a> <a href="#"><img src="images/ad.png" alt=""></a> </div>
      <div id="case-studies">
        <h3>Case Studies</h3>
        <ul>
          <li><a href="#">Jamba Site Design</a></li>
          <li><a href="#">Kazuko Website Creation</a></li>
          <li><a href="#">Norio Marketing Strategy</a></li>
          <li><a href="#">Rikona Content Management</a></li>
          <li><a href="#">Saburo SEO Work</a></li>
          <li><a href="#">Yoshi Website Optimization</a></li>
        </ul>
      </div>
      <div id="Categories">
        <h3>Categories</h3>
        <ul>
          <li><a href="#">Announcements</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Design Articles</a></li>
          <li><a href="#">New Products</a></li>
          <li><a href="#">Recent Awards</a></li>
          <li><a href="#">Upcoming Events</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Design By <a target="_blank" href="http://www.chris-creed.com/">Chris Creed</a></p>
  </div>
</div>
</body>
</html>