<!DOCTYPE html>
<html lang="en">
<head>
<title>Bobo</title>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="styles/style.css">
<!--[if IE 6]><link type="text/css" rel="stylesheet" href="styles/ie6.css"><![endif]-->
<!--[if IE 7]><link type="text/css" rel="stylesheet" href="styles/ie7.css"><![endif]-->
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1><a href="index.html">Bobo Studio</a></h1>
    <h2>Quality Design Solutions</h2>
    <div id="nav">
      <ul id="nav-pages">
        <li><a href="index.html" class="current">Home</a><span>/</span></li>
        <li><a href="services.html">Services</a><span>/</span></li>
        <li><a href="portfolio.html">Portfolio</a><span>/</span></li>
        <li><a href="blog.html">Blog</a><span>/</span></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
  <div id="frontpage-content">
    <div id="frontpage-intro">
      <p>At <span>Bobo Studio</span> we specialize in providing <span>high quality solutions</span> to difficult problems. Whether you need assistance with a <span>new website</span>, help developing an <span>online marketing campaign</span>, or simply some <span>support &amp; guidance</span>, we are here to help you through each stage of the process.</p>
    </div>
    <div id="featured-projects">
      <h3>Featured Projects</h3>
      <div id="featured-projects-bg"> <a href="#"><img class="featured-project-image first" src="images/zanka390x190.jpg" alt=""></a> <a href="#"><img class="featured-project-image first" src="images/jengo390x190.jpg" alt=""></a> <a href="#"><img class="featured-project-image" src="images/soko390x190.jpg" alt=""></a> <a href="#"><img class="featured-project-image" src="images/kondo390x190.jpg" alt=""></a> <a href="#"><img class="featured-project-image" src="images/azuka390x190.jpg" alt=""></a> <a href="#"><img class="featured-project-image" src="images/sanda390x190.jpg" alt=""></a> </div>
    </div>
  </div>
  <div id="footer">
    <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Design By <a target="_blank" href="http://www.chris-creed.com/">Chris Creed</a></p>
  </div>
</div>
</body>
</html>